<!-- Footer
================================================== -->
<footer class="bs-docs-footer" role="contentinfo">
  <div class="container">

    <!-- <p>Connect is currently under development.</p> -->

    <ul class="bs-docs-footer-links muted">
      <li>OAuth.no</li>
      <li>&middot;</li>
      <li><a href="http://www.uninett.no">UNINETT AS</a></li>
      <li>&middot;</li>
      <li> <i class="fa fa-linkedin"></i></i> <a href="https://no.linkedin.com/in/andreassolberg">Andreas Åkre Solberg</a></li>
      <li>&middot;</li>
      <li> <i class="fa fa-twitter"></i></i><a href="https://twitter.com/@erlang">erlang</a> </li><!--
      <li>&middot;</li>
      <li><a href="http://jso.uninett.no">jso</a></li>
      <li>&middot;</li>
      <li><a href="http://simplesamlphp.org">simpleSAMLphp</a></li>
      <li>&middot;</li>
      <li><a href="http://discojuice.org">DiscoJuice</a></li>
      <li>&middot;</li>
      <li><a href="http://httpjs.net">httpjs</a></li>
-->
    </ul>
  </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>



<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>



{% if site.github %}
<script src="/assets/js/docs.min.js"></script>
{% else %}
<script src="/assets/js/vendor/holder.js"></script>
<script src="/assets/js/vendor/ZeroClipboard.min.js"></script>
<script src="/assets/js/src/application.js"></script>
{% endif %}
{% if page.slug == "customize" %}
<script src="/assets/js/customize.min.js"></script>
{% endif %}
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-431110-29', 'auto');
  ga('send', 'pageview');

</script>