

<li><a href="#gettingstarted">Getting started</a></li>
<li><a href="#gettingjso">Getting JSO</a></li>
<li><a href="#loading">Loading JSO</a></li>
<li>
  <a href="#using">Using JSO</a>
  <ul class="nav">
    <li><a href="#configurationreference">Configuration reference</a></li>
    <li><a href="#catching_response">Callback: Catching the response</a></li>
    <li><a href="#getting_token">Obtaining token</a></li>
    <li><a href="#logout">Logout</a></li>
    <li><a href="#cors">CORS API calls</a></li>
  </ul>
</li>



<!--

<li><a href="#scopes">Scopes</a></li>
<li><a href="#further">Further reading</a></li>
-->

